<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="post">
    <label>Введите фио</label>
    <input placeholder="ФИО" type="text" id="fio" name="fio"></input>

    <label>Введите тип проблемы</label>
    <input placeholder="тип проблемы" type="text" id="type_of_fault" name="type_of_fault"></input>

    <label>Введите описание проблемы</label>
    <input placeholder="описание проблемы" type="text" id="desc_problem" name="desc_problem"></input>

    <label>Дата заявки</label>
    <input type="date" id="date_start" name="date_end"></input>
  </form>
</body>
</html>